@model  List<VaktiImProject.Models.GATIM>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="row">
        <div class="col-md-12 alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        </br>
        </br>
        <h4> Lista e gatimeve aktive që mund të porosisni</h4>
    </div>
</div>

<div class="row">
    <div>
        @{ int gatimId = 0;}
        <form method="post">
            <table class="table table-hover">
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        gatimId = item.gatim_id;
                        <tr class="col-md-8">
                            <td><img src="@Url.Content(item.foto)" width="150" height="150" /> </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emriGatimit)<br />
                                @Html.DisplayFor(modelItem => item.pershkrimi)<br />
                                @Html.DisplayFor(modelItem => item.cmimi)<br />

                                @*<input type="text" value="" name="adresa" placeholder="Vini adresen" /><br />*@
                                <input type="number" value="" id="sasia" name="Sasia" placeholder="1" /><br />
                                <filedset>
                                    <select id="Adresat" name="Adresa">
                                        <option value="1"> Rruga Islam Alla</option>
                                        <option value="2"> Rruga Hajdar Hidi</option>
                                        <option value="3"> Rruga Ambasadave</option>
                                        <option value="4"> Rruga Muhamed Gjollesha</option>
                                        <option value="5"> Rruga Mine Peza</option>
                                    </select>
                                </filedset>
                            </td>
                        </tr>
                        <tr class="col-lg-4">
                            <td></td>
                            <td>
                                <a href="@Url.Action("Create", "POROSIs", new { id = item.gatim_id })" class="btn btn-success btn-sm">
                                    <i class="fa fa-floppy-o"></i>
                                    Rezervo
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </form>
       

    </div>
</div>


